body {
    background-color: #CCC;
    margin: 0;
}

.all-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.selections {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.selection {
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 50px;
}

.result-score-user .result-score-computer {
    margin-left: .1rem;
    font-size: 25px;
    color: #333;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#result {
    display: flex;
    font-size: 25px;
    border-bottom: solid;
    border-color: black;
    padding-right: auto;
    justify-content: center;
}

.gameLog {
    display: flex;
    justify-content: center;
}

.gameOverAppear {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
    align-items: center;
}

.copyRight {
    display: flex;
    justify-content: center;
    background-color: darkgray;
    padding: 15px;
}

